# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.pid
*.log
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.swp
*~

# Build artifacts (optional, if you add any build step later)
dist/

# Coverage reports (optional, for test coverage tools)
coverage/

# Debugging files
*.tgz